font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;

.header{
	font-family: 'Roboto';
	display: flex;
}

body{
	background-color: #0c002f;
	color: white;
	font-family: 'Roboto';
  margin: 0px;
}

header{
  position: fixed;
  display: flex;
  background-color: rgba(12, 0, 47, 0.95);
  padding: 1%;
  width: 100%;
  z-index: 2;
  align-items: center;
  flex-wrap: wrap;
}

header .menu-deroulant ul{
	display: flex;
	flex-direction: column;
}

.a_num{
  display: flex;
}

.logo_num{
  display: flex;
  align-items: center;
}

.div_logo{
  width: 20%;
}

.div_logo p{
  color: white;
  margin: 3px;
  font-weight: 900;

}

nav {
  width: 80%;
  font-size: 14px;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  height: 100%;
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  position: relative;
  height: 50px;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

li a {
  text-decoration: none;
}

.menu{
  padding: 0px;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 14px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: 40px;
  width: 100%;
  text-align: left;
  background-color: black;
  border-radius: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 5%;
  width: 95%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: beige;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

.presentation{
  position: relative;
  z-index: 0;
  background-image: url(fond.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation_logo{
  width: 40%;
}

.page{
  padding: 20px;
}

.img_text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.presentation_texte{
  width: 45%;
}

.presentation_image_1{
  width: 35%;
}

.presentation_image_1 img{
  object-fit: cover;
  width: 30vw;
  height: 35vh;
}

.images_3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images_3 img{
  width: 25vw;
  height: 35vh;
  object-fit: cover;
}


a{
  color: white;
  text-decoration: none;
}

p{
  font-size: 20px;
}

button {
  display: inline-block;
  background-color: #C6A237;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid transparent;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

button::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: #003177;
  box-shadow: inset 0px 0px 0px #b6cdef;
  display: block;
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}

button:hover {
  border: 2px double #C6A237;
  background-color: transparent;
}